Options -Indexes

RewriteEngine On
RewriteBase /inventory-api/

# Bypass real files/directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything to index.php
RewriteRule ^(.*)$ index.php [QSA,L]
